spring:
  application:
    name: data-microservice
  datasource:
    url:
      jdbc:mysql://localhost:3306/datatxt
    password: danielusach
    username: root
  jpa:
    hibernate:
      ddl-auto: create
  servlet:
    multipart:
      max-file-size: 1MB
      max-request-size: 1MB
server:
  port: 8084
  forward-headers-strategy: framework
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    serviceUrl:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka/}